@{
    Layout = "./_Layout.cshtml";
}
<div class="col-9">
    <div class=" row ">
        <a class="col-2 text-center card border-dark mb-3" href="#">Главная</a>
        <a class="col-2 text-center card border-dark mb-3" href="#">Горящие туры</a>
        <a class="col-2 text-center card border-dark mb-3" href="#">Поиск тура</a>
    </div>
    <div>@RenderBody()</div>
</div>




