@{
    Layout = "./_Layout.cshtml";
}
<div class="col-9">
    <div class=" row ">
       
            <li class=" col-2 text-center card border-dark mb-3"><a>@Html.ActionLink("Поиск тура", "SearchTour", "Search")</a></li>
            <li class=" col-2 text-center card border-dark mb-3"><a>@Html.ActionLink("Главная", "Index", "Home")</a></li>
            <li class=" col-2 text-center card border-dark mb-3"><a>@Html.ActionLink("Создание тура", "CreatTour", "Creat")</a></li>
        
       
    </div>
    <div>@RenderBody()</div>
</div>


