
@{
    ViewBag.Title = "Administrator";
}
<div class="col-6">
    <ul class="list-group">
       @* @Html.Partial("UserLock")*@
    </ul>
</div>
<div class="col-6 render-body">
    <ul class="list-group">
      @*  @Html.Partial("UserUnlock")*@
    </ul>
</div>
